* {
  --background-color: #221809;
  --hover-color: #f2c68a;
  /* --text-color: #7b4600; */
  --text-color: #ab6f33;
  --alternative-text-color: #EDCC95;
  --off-white: gainsboro;
}

@font-face {
  font-family: 'California Signature';
  src: url('assets/fonts/california_signature/California\ Signature.woff2') format('woff2'),
    url('assets/fonts/california_signature/California\ Signature.woff') format('woof');
}

@font-face {
  font-family: 'Adelia';
  src: url('assets/fonts/adelia_3/adelia.woff2') format('woff2'),
    url('assets/fonts/adelia_3/adelia.ttf') format('ttf');
}


body {
  font-family: 'California Signature', system-ui;
  color: var(--text-color);
  padding-top: 1rem;
  background-color: var(--background-color);
  font-size: 4rem;
}

button {
  font-family: 'California Signature', system-ui;
  font-size: 3.5rem;
  color: var(--alternative-text-color);
}

button:hover {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

/* Home Section */
.landing-image {
  width: 100vw;
  height: 90%;
  position: absolute;
  top: 100px;
  z-index: -1;
  background:
    url('assets/coffeemugs\ pictute.webp') center/contain no-repeat;
  background-size: 80vw 100vh;
}


img.landing-image::before {
  content: "";
  position: absolute;
  height: 110%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, transparent, var(--background-color) 50%);
  backdrop-filter: blur(5px);
}


header nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

}

nav button {
  background-color: transparent;
  width: 90px;
  border: none;
  border-left: 1px solid var(--off-white);
  transform: scale(1.2);

}

div#content h1 {
  text-align: center;
  font-weight: lighter;
  transform: translateY(50px);
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.center-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;

}

.center-container button {
  transform: scale(1);
  background: transparent;
  border: none;
  border-left: 1px solid var(--off-white);
}


.shoutout {
  position: absolute;
  bottom: 0;
  font-size: 0.7rem;
}


/* About Section */

.about-container {
  display: flex;
  /* padding-top: 1rem; */
  justify-content: space-between;
  /* align-items: center; */
  /* text-align: center; */
  height: 80vh;

}

.about-image-container {
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
  background: radial-gradient(transparent, var(--background-color)63%),
    url('assets/coffeebag.webp') center/90% no-repeat;

  transform: translateX(100px);


}

.about-text-container {
  /* text-align: center; */
  font-size: 1.2rem;
  flex: 1;
  transform: translate(150px, 100px);
  /* font-family: Roboto; */
  font-size: 2.6rem;
}

/**/
.about-text-container p {
  width: 500px;
}
