* {
  --background-color: #221809;
  --hover-color: #f2c68a;
  /* --text-color: #7b4600; */
  --text-color: #ab6f33;
  --alternative-text-color: #EDCC95;
  --off-white: gainsboro;
}

@font-face {
  font-family: 'California Signature';
  src: url('assets/fonts/california_signature/California\ Signature.woff2') format('woff2'),
    url('assets/fonts/california_signature/California\ Signature.woff') format('woof');
}

@font-face {
  font-family: 'Adelia';
  src: url('assets/fonts/adelia_3/adelia.woff2') format('woff2'),
    url('assets/fonts/adelia_3/adelia.ttf') format('ttf');
}


body {
  font-family: 'California Signature', system-ui;
  color: var(--text-color);
  padding-top: 1rem;
  background-color: var(--background-color);
  font-size: 4rem;
}

button {
  font-family: 'California Signature', system-ui;
  font-size: 3.5rem;
  color: var(--alternative-text-color);
}

button:hover {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

header nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

}

nav button {
  background-color: transparent;
  width: 90px;
  border: none;
  border-left: 1px solid var(--off-white);
  transform: scale(1.2);

}

/* ******************************************** */

/* Home Section */
.home-container {
  width: 100vw;
  height: 90%;
  background:
    url('assets/coffeemugs\ pictute.webp') center/contain no-repeat;
}


.home-container h1 {
  text-align: center;
  font-weight: lighter;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
  background: radial-gradient(circle, transparent, var(--background-color) 50%);
  backdrop-filter: blur(5px);

}

.center-container button {
  transform: scale(1);
  background: transparent;
  border: none;
  border-left: 1px solid var(--off-white);
}


.shoutout {
  position: absolute;
  bottom: 0;
  font-size: 0.7rem;
}

/* ******************************************** */

/* Menu Section */

.about-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
}

.menu-image-container {
  grid-column: 1;
  background:
    linear-gradient(to right, transparent, var(--background-color)),
    url('assets/Pourover.webp') center/100% 100% no-repeat;
  margin: 0 0 -10px -10px;
}

.menu-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;

}


.drink {
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  padding: 0 3rem;
}

/* ******************************************** */

/* About Section */
.about-container {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "title image "
    "description image "
    "links links "
  ;
  padding-left: 1rem;

}

.about-container h1 {
  grid-area: title;
}

.about-image-container {
  grid-area: image;
  background: radial-gradient(transparent, var(--background-color)63%),
    url('assets/coffeebag.webp') center/contain no-repeat;
  height: 100%;
}

.about-text-container {
  grid-area: description;
  font-size: 2.6rem;
  margin-top: -50px;
}
